<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Streaming</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/homestyle.css">

 
</head>

<body>

  <div class = "banner">
    <a href = "/backhome">
    <img class= "image_banner" href = "/backhome" src="https://s.abcnews.com/images/Business/GTY_netflix_hulu_prime_mar_140423_33x16_992.jpg" alt="Movie time">
    </a>
  </div>

    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <!-- <h1>Movie Streaming Dashboard</h1>
        <p>Use the filters to narrow your search for a movie</p> -->
        <h1>Movie Streaming Dashboard</h1>
        <p>Click the Search Button below</p>
      </div>
    </div>
    <button type="button" id = "search_button" class="btn btn-primary btn-lg">Movie Search
        <a href="/search" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click Here</a>
    </button>
      
    <div class="row">
      <div class="col-md-12">
      <div id="bar"></div>
      </div>  
      <div class="row">
        <div class="col-md-12">
        <div id="pie"></div>
        </div>

  
  <div class="row">
    <div class="col-md-12">
    <div id="bubble"></div>
    </div>


    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <!-- <h3>Movie Streaming Platforms</h3> -->
        <h3 style="background-color:rgb(104, 108, 112);">Movie Streaming Platforms</h3>
        <!-- <p style="background-color:Tomato;"> -->
        <p>For more information on movies please click the following buttons</p>
        <a href="https://www.netflix.com/" title="Go to netflix HTML section"> Netflix</a>
        <a href="https://www.hulu.com//" title="Go to hulu HTML section"> Hulu</a>
        <a href="https://www.primevideo.com//" title="Go to primevideo HTML section"> Prime_Video</a>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/homeapp.js"></script>

  

</body>

</html>
